[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "stdenv.cc.cc.lib"]

[phases.install]
cmds = [
    "pip install --break-system-packages -r requirements_phi.txt"
]

[phases.build]
cmds = []

[start]
cmd = "python3 -m uvicorn voice_bridge:app --host 0.0.0.0 --port $PORT"


