[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "gcc"]

[phases.install]
cmds = [
    "pip install --break-system-packages -r requirements_phi.txt"
]

[phases.build]
cmds = []

[start]
cmd = "bash start.sh"


